*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row-reverse;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map { 
    height: 100%;
    width: 50%; 
    background-color: #AAD3DF;
    
    }
    
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
input{
    font-size: 3em;

}

button{
    font-size: 3em;
    margin: 2rem;
    border: none;
    background-color: orange;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 3px;
}

button:hover{
    background-color: orangered;
}